
<div style="background-color:#f2f6f6;padding: 60px 0px;">
	<div class="wrap bottom">	
		<div class="content">	
			
		<div class="lg">
			<div class="lg-1">
				<img src="/img/brand/slack01_spot.png">				
				
				<h1>Slack</h1>
				<p>Lorem ipsum dolord itset</p>
			</div>
			
			<div class="lg-2">
				<div class="proj" style="background-image: url(/img/brand/slack01.png">
				</div>
			</div>
		</div>
		
			<div class="sm left">
				<a href="/illustration/prog.html">
					<img src="/img/brand/WF.png">
					<h1>Wealthfront</h1>
				</a>
			</div>

			<div class="sm">
				<a href="/illustration/prog.html">
					<img src="/img/brand/PM.png">
					<h1>Postmates</h1>
				</a>
			</div>


		
		
			<div class="sm left">
				<a href="/illustration/columbus.html">
					<img src="/img/brand/slack03.png">
					<h1>Postmates</h1>
				
				</a>
			</div>

		
			<div class="sm">
				<a href="/illustration/prog.html">
					<img src="/img/brand/fleetsmith.png">
					<h1>Fleetsmith Branding</h1>
				</a>
			</div>

			<div class="lg">
			<div class="lg-1">
				<img src="/img/brand/wordpress_spot.png">				
				
				<h1>Wordpress</h1>
				<p>Lorem ipsum dolor itset</p>
			</div>
			
			<div class="lg-2">
				<div class="proj">
					<a href="/illustration/columbus.html">
						<img src="/img/brand/wordpress.png">				
					</a>
				</div>
			</div>
		</div>

			<div class="sm left">
				<a href="/illustration/columbus.html">
					<img src="/img/brand/slack04.png">
					<h1>Postmates</h1>
				</a>
			</div>

			<div class="sm">
				<a href="/illustration/prog.html">
					<img src="/img/brand/carousel.png">
					<h1>Holiday Branding</h1>
				</a>
			</div> 

			<div class="sm left">
				<a href="/illustration/columbus.html">
					<img src="/img/brand/slack05.png">
					<h1>Slack Summer Party</h1>
				</a>
			</div>

			<div class="sm">
				<a href="/illustration/prog.html">
					<img src="/img/brand/slack_misc.png">
					<h1>Apparel</h1>
				</a>
			</div>
			

			<div class="lg">
				<div class="lg-1">
					<img src="/img/brand/slack02_spot.png">				
				
					<h1>Slack Editorial</h1>
					<p>Lorem ipsum dolor itset</p>
				</div>
			
				<div class="lg-2">
					<div class="proj">
						<a href="/illustration/columbus.html">
							<img src="/img/brand/SlackEd.gif">				
						</a>
					</div>
				</div>
			</div>

			<div class="sm left">
				<a href="/illustration/columbus.html">
					<img src="/img/brand/misc.png">
					<h1>Misc</h1>
				</a>
			</div>
			<div class="sm ">
				<a href="/illustration/columbus.html">
					<img src="/img/brand/chalk.png">
					<h1>Chalk</h1>
				</a>
			</div>
			
			<br style="clear:both;">
		</div> 
	</div>
</div>
	