<div class="wrap top">	
		<div class="content">	
			
		<div class="header">
			<div class="fade">
				<div>
					<img src="img/Slack.png">
					<p class="subheader">Illustrations for Slack (view full project on <a href="http://slack.com">Slack.com</a>)</p>

				</div>

				<div>
					<img src="img/Airbnb.png">
					<p class="subheader">Illustration series for Nova, a new project from Airbnb</p>

				</div>
				<div>
					<img src="img/Personal.png">
					<p class="subheader">Personal narrative illustration series</p>

				</div>


			</div>



		
			<div class="comingSoon">
				<h1>We’re making this space way more awesome.</h1>
				<p>In the meantime, take a look around at some recent projects!</p>	

			</div>
		</div>	
		<!--<div class="wrap caption" style="clear:both;">
			<p>Illustrations for Slack</p>
		</div>-->
	</div>

	<div class="bottom">
		
		<div class="proj left">
			<a href="/covers/">
				<img src="img/covers@2x.png">
				<p class="title">Covers</p>
				<p class="description">Collection of covers done for magazines and newspapers</p>
				
			</a>
		</div>

		
		
		<div class="proj right">
			<a href="/wealthfront/">
				<img src="img/wealthfront@2x.png">
				<p class="title">Wealthfront</p>
				<p class="description">Bringing approachability and warmth to finance</p>
				
			</a>
		</div>





		<div class="proj left">
			<a href="/macys/">
				<img src="img/macys@2x.png">
				<p class="title">Macys</p>
				<p class="description">Advertising and event illustrations for Macy’s</p>
				
			</a>
		</div>

		<div class="proj right">
			<a href="/misc/">
				<img src="img/misc@2x.png">
				<p class="title">Misc</p>
				<p class="description">Additional editorial, advertising, and product illustrations</p>
				
			</a>
		</div>

				<div class="proj left">
			<a href="/slack/">
				<img src="img/slackEd@2x.png" style="padding-bottom: 3px;">
				<p class="title">Slack</p>
				<p class="description">Selection of editorial illustrations
done for Slack</p>
				
			</a>
		</div>
			<div class="proj right" >
			<a href="/wordpress/">
				<img src="img/wordpress@2x.png" style="width: 280px;    padding-bottom: 30px;	">
				<p class="title">WordPress</p>
				<p class="description">Creating a more inclusive 
illustrative brand</p>
				
			</a>
		</div>
	
		</div> 
			<br style="clear:both;">

	</div>








  

