  <footer class="wrap footer">
	

	<img src="/img/swash01.png" style="float:right;margin-top:-50px">

<div class="links" >
<a target="_blank" href="mailto:hello@alice-lee.com"><img src="/img/mail@2x.png" width="40" height="36"></a>
<a target="_blank" href="http://twitter.com/byalicelee"><img src="/img/twitter@2x.png" width="39" height="36"></a>
<a target="_blank" href="http://instagram.com/byalicelee"><img src="/img/insta@2x.png" width="36" height="36"></a>
</div>

<div class=" italic" style="text-transform:lowercase; padding-left: 5px;
">
	thanks for visiting! awesomeness coming, very soon.

  
</footer>





<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="js/slick/slick.min.js"></script>
			
<script>

$(document).ready(function(){
	$('.fade').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
	});
		
});
</script>


</body>
</html>
