
<header>

<div class="wrap">

  <div class="head" >

    <div class="left abstract-left">
  
      <a class="head-name" href="/">
        <img class="alice" src="img/logomark.png" width="270" height="91">
      </a> 
      

  </div>

  <div class="right head-navi">
    
          <span class="navi">
          <a class="portfolio active" href="/">
            Portfolio
          </a>
        </span>

        <span class="navi">
          <a class="about" href="/about">
            About 
          </a>
        </span>
        
        <span class="navi">
          <a class="contact" href="mailto:hello@byalicelee.com">
            Contact
          </a>
        </span>

        <span class="navi">
          <a class="" href="http://instagram.com/byalicelee">
            Instagram
          </a>
        </span>
  </div>
    <br style="clear:both;">
  
  
</div>
</div>


</header>

    